<nav class="d-flex h-200 text-center text-white bg-dark">
  <div class="container px-4 px-lg-10 p-3">
    <h3 class="float-md-start mb-0">Cover</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" href="#">Dashboard</a>
      <a class="nav-link active" aria-current="page" href="#">Connect</a>
    </nav>
  </div>
</nav>
